@import "../../App.css";
.image-slider {
  position: relative;
  justify-self: center;
  width: 100%;
  height: 770px;
  margin-top: 50px;
}

.slider-image-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%; /* Chiếm 10% chiều rộng để người dùng có thể hover vào */
}

.slider-image-container.prev {
  left: 0;
  cursor: url("../../assets/left.png"), pointer; /* Con trỏ chuột mũi tên trái */
}

.slider-image-container.next {
  right: 0;
  cursor: url("../../assets/right.png"), pointer; /* Con trỏ chuột mũi tên phải */
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Đảm bảo rằng các khu vực bên trái và phải có chiều rộng đủ lớn để người dùng hover vào */
.slider-image-container.prev,
.slider-image-container.next {
  z-index: 10; /* Đảm bảo các khu vực này có độ ưu tiên cao hơn */
}
