@import "../../App.css";
.container {
  display: flex;
  /* Sử dụng flex để tạo layout */
  background-color: white;
  /* Màu nền cho form */
  border-radius: 8px;
  /* Bo góc */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* Đổ bóng nhẹ cho form */
  overflow: hidden;
  /* Ẩn phần vượt ra ngoài biên */
  max-width: 800px;
  /* Độ rộng tối đa cho container */
  width: 100%;
  /* Độ rộng 100% */
}

.image-container {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 666px;
  width: 655px;
  margin-right: 60px;
}

.image-container img {
  object-fit: cover;
  border-radius: 20px;
  height: 666px;
  width: 655px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 0.5s ease-in-out;
}

.login-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Đảm bảo ảnh không bị biến dạng */
}

.form-container {
  flex: 0 0 500px;
  /* Độ rộng cố định cho form */
  padding: 40px;
  /* Padding cho form */
}

.login-form {
  /* padding-left: 20px; */
  /* width: 520px; */
  display: flex;
  flex-direction: column;
  width: 500px;
}

.login-form p {
  font-size: 18px;
  color: var(--blue);
  font-weight: 600;
  margin-bottom: 10px;
}

.login-form h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--blue);
}

.input-box,
.password-box {
  width: 500px;
  height: 60px;
  font-size: 20px;
  padding-left: 16px;
  border: 3px solid var(--blue);
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

/* Áp dụng màu biên khi focus */
.input-box:focus {
  border-color: var(--darkblue);
  /* Màu biên khi focus */
}

.password-container {
  width: 500px;
  height: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  border: 3px solid var(--blue);
  padding-left: 16px;
  padding-right: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  /* Thêm thuộc tính này */
}

/* Sử dụng pseudo-class :focus-within để áp dụng hiệu ứng khi ô input bên trong có focus */
.password-container:focus-within {
  border-color: #007bff;
}

.password-input {
  width: 100%;
  font-size: 20px;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  outline: none;
}

.password-icon {
  color: #888888;
  width: 35px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-right: 16px;
}

.password-icon:hover {
  color: var(--blue);
}

.btn-primary {
  width: 500px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  background-color:var(--blue);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--darkblue);
  color: white;
}



.error-message {
  color: #ff0000 !important;
  /* Màu chữ cho thông báo lỗi */
  font-size: 12px;
  /* Kích thước chữ cho thông báo lỗi */
  margin-bottom: 20px !important;
  /* Khoảng cách dưới thông báo lỗi */
  margin-top: 20px !important;
  /* Khoảng cách dưới thông báo lỗi */
  text-align: start;
  /* Căn giữa thông báo lỗi */
}

.login-form .forgot-password {
  text-align: end;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 14px;
}

.create-account {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--blue);
}

.link-create {
  padding-left: 8px;
  color: var(--blue);
  text-decoration: underline;
}

.link {
  color: var(--blue);
  /* Màu cho link */
  text-decoration: none;
  /* Bỏ gạch chân cho link */
}

.link:hover {
  color: var(--darkblue);
  /* Màu khi hover trên link */
}

.footer-login {
  text-align: center;
}

.login-role-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}

.login-role-text {
  font-size: 18px;
  font-weight: bold;
  color: #004168;
  margin: 0 65px;
  /* Khoảng cách giữa text và đường gạch */
}

.line {
  flex: 2;
  height: 2px;
  background-color: #162f4a;
}

.btn-role {
  width: 500px;
  /* Đặt độ rộng */
  height: 50px;
  /* Đặt chiều cao */
  font-size: 20px;
  font-weight: 700;
  background-color: transparent;
  /* Màu nền cho nút */
  color: #EFD099;
  /* Màu chữ cho nút */
  outline: none;
  /* Không hiển thị đường viền khi focus */
  transition: border-color 0.3s;
  /* Hiệu ứng chuyển động khi focus */
  border: 3px solid #EFD099;
  /* Biên cho input */
  border-radius: 10px;
  /* Bo góc cho nút */
  cursor: pointer;
  /* Con trỏ khi hover */
  transition: background-color 0.3s;
  /* Hiệu ứng chuyển động khi hover */
}

.btn-role:hover {
  background-color: #EFD099;
  /* Màu nền khi hover */
  color: #ffffff
}

/* Ẩn logo trong chế độ bình thường */
.logo-container {
  display: none;
  /* Ẩn logo mặc định */
}

.backHome {
  color: #162f4a;
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  margin: 20px 0;
}

.backHome:hover {
  color: #EFD099;
}
  
  .social-login {
    margin-top: 20px;
  }
  
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    color: #5790ab;
    cursor: pointer;
    position: relative;
    width: 100%; 
    height: 60px;
  }
  
  .google-btn img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  
  .google-btn:hover {
    background-color: var(--blue);
    color: white;
  }
  
  /* Responsive */

/* Điều chỉnh cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    /* Đổi hướng từ row sang column */
    max-width: 100%;
    /* Đặt max-width cho container */
  }

  .image-container,
  .image-container-signup {
    display: none;
    /* Ẩn ảnh trong màn hình nhỏ */
  }

  .form-container,
  .login-form,
  .signup-form {
    padding: 20px;
    /* Giảm padding cho form */
    width: 100%;
    /* Chiếm toàn bộ chiều rộng */
  }

  .google-btn,
  .btn-primary,
  .btn-primary-signup,
  .btn-role {
    width: 100%;
    /* Đặt độ rộng nút theo kích thước của container */
  }

  .password-container,
  .input-box {
    width: 100%;
    /* Đặt độ rộng input theo kích thước của container */
  }

  h1 {
    font-size: 28px;
    /* Giảm kích thước tiêu đề */
  }

  .forgot-password,
  .forgot-password-admin,
  .create-account,
  .footer-login {
    font-size: 12px;
    /* Giảm kích thước chữ cho các đoạn văn */
  }

  .login-role-text {
    margin: 0 30px;
    /* Giảm khoảng cách giữa text và đường gạch */
    font-size: 14px;
  }

  .line {
    height: 1px;
    /* Giảm chiều cao của đường gạch */
  }

  /* Hiển thị logo khi ở chế độ responsive */
  .logo-container {
    display: block;
    /* Hiển thị logo */
  }

  .backHome {
    font-size: 16px;
  }
}

/* Điều chỉnh cho màn hình nhỏ hơn 480px */
@media (max-width: 480px) {
  .container {
    padding: 0;
    /* Xóa padding container */
  }

  h1 {
    font-size: 24px;
    /* Giảm tiếp kích thước tiêu đề */
  }

  .forgot-password,
  .forgot-password-admin,
  .create-account,
  .footer-login {
    font-size: 15px;
    /* Giảm tiếp kích thước chữ cho các đoạn văn */
  }

  .google-btn,
  .btn-primary,
  .btn-primary-signup,
  .btn-role {
    height: 45px;
    /* Điều chỉnh chiều cao của các nút */
    font-size: 18px;
  }

  .input-box,
  .password-container {
    height: 50px;
    /* Điều chỉnh chiều cao của input */
    font-size: 18px;
  }
}



  /* Responsive design */
  
  /* @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 20px;
    }
  
    .image-section {
      display: none; 
    }
  
    .login-section {
      width: 100%;
      max-width: 100%;
      padding: 20px;
      box-shadow: none;
    }
  } */
  
  /* @media (max-width: 480px) {
    .btn-submit,
    .google-btn,
    .doctor-btn {
      font-size: 14px;
      padding: 10px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input[type="email"],
    input[type="password"] {
      font-size: 14px;
    }
  }
   */